@import '../../styles/variables';

.dashboard {
  $breakpoint: 600px + 64px;

  .page-item {
    padding: 16px;
  }

  &-last30 {
    margin-bottom: 32px;

    @media (min-width: $breakpoint) {
      display: flex;
      .page-item {
        flex: 1;

        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-label {
    color: $dark-gray;
    margin-bottom: 8px;
  }

  &-number {
    font-size: 24px;
    font-weight: 600;

    &-large {
      font-weight: 900;
      font-size: 48px;
      margin-bottom: 32px;
    }
  }

  &-item {
    display: flex;
    justify-content: start;
    align-items: center;

    .icon {
      border-radius: $border-radius;
      border-radius: var(--border-radius);
      background: $primary-red-lightened;
      background: var(--primary-red-lightened);
      color: $primary-red;
      color: var(--primary-red);
      padding: 16px;
      margin-right: 16px;
    }
  }

  &-subscribers {
    text-align: right;
  }
}
