@import '../../styles/variables';

$breakpoint-sm: 450px;
$breakpoint-md: 680px;

.profile {
  text-align: center;

  .page-container {
    position: relative;
  }

  .navbar {
    margin-bottom: 32px;

    &-item {
      min-width: 40px;

      @media (min-width: $breakpoint-sm) {
        min-width: 60px;
        padding: 0 16px;
      }

      @media (min-width: $breakpoint-md) {
        min-width: 115px;
      }

      &-text {
        display: none;

        @media (min-width: $breakpoint-md) {
          display: inline;
        }
      }
    }
  }

  &-sign-out {
    color: $brand-color;
    background-color: transparent;
    padding: 0 32px 0 16px;
    min-width: 0;
  }

  &-edit {
    margin: 0 auto;
  }

  &-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 32px auto;

    img {
      border-radius: $border-radius;
      border-radius: var(--border-radius);
      border: 4px solid $border-color;
      border: 4px solid var(--border-color);
      width: 100%;
      height: 100%;

      &:hover {
        border: 4px dashed $primary-blue;
        border: 4px dashed var(--primary-blue);
      }
    }

    @media (min-width: 640px) {
      margin-top: 0;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  p {
    margin-top: 32px;

    a {
      color: black;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
