@import '../styles/variables';

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 10px;
  border-radius: var(--border-radius);
  border-color: $border-color;
  border-color: var(--border-color);
  border-style: dashed;
  background-color: #fafafa;
  border-color: var(--light-gray);
  color: darkgray;
  color: var(--dark-gray);
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  min-height: 60px;
  max-width: 100%;
  line-height: 1.2em;

  &:hover,
  &:focus {
    border-color: $primary-blue;
    border-color: var(--primary-blue);
  }

  &.disabled {
    opacity: 0.6;
  }
}
