button {
  background-color: var(--brand-color);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-radius: 40px;
  min-width: 150px;

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
}

.button {
  &-primary {
    background-color: var(--primary-red);
  }
}
