@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-thin.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-thin.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/.ttgilroy-thinf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-ultralight.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-ultralight.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-ultralight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-light.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-light.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-regular.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-regular.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-medium.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-medium.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-semibold.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-semibold.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-bold.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-bold.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-extrabold.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-extrabold.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-extrabold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'gilroy';
  src: url('%PUBLIC_URL%/fonts/gilroy-heavy.woff2') format('woff2'),
    url('%PUBLIC_URL%/fonts/gilroy-heavy.woff') format('woff'),
    url('%PUBLIC_URL%/fonts/gilroy-heavy.ttf') format('truetype');
  font-weight: 900;
}
