@import './variables';

$select-height: 54px;
$select-inner-height: $select-height - 4px;

.react-select-wrapper {
  .react-select {
    &__control {
      border-radius: $border-radius;
      height: $select-height;
    }

    &__value-container {
      padding: 0 16px;
      height: $select-inner-height;
    }

    &-input {
      height: $select-height;
    }

    &__menu {
      &-list {
        margin: 0;
        padding: 0;
      }
    }

    &__option {
      font-weight: 500;
      cursor: pointer;
      text-align: left;
      line-height: 48px;
      font-size: 18px;
      padding: 0 0 0 16px;

      &--is-selected {
        &,
        &:active {
          background-color: $primary-blue;
        }
      }
    }
  }
}
