body {
  font-size: 16px;
  font-family: gilroy, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 8px;
}

b {
  font-weight: bold;
}
