@import './fonts';

body {
  font-size: 16px;
  font-family: emeal-gilroy, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 8px;
}

b {
  font-weight: bold;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

textarea {
  font-family: inherit;
}
