$brand-color: #bb5450;
$primary-red: #ff4500;
$primary-red-lightened: lighten($primary-red, 45%);
$primary-blue: #0068ff;
$primary-blue-lightened: lighten($primary-blue, 45%);
$light-blue: #def7ff;
$warning-red: darkred;
$success-green: #4caf50;
$border-color: #e5e5e5;
$light-gray: #f4f5f7;
$header-bg: white;
$page-bg: $light-gray;
$page-item-bg: white;
$gray: darkgray;
$darker-gray: #4d4d4d;
$border-radius: 10px;
$box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
$box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
