.private-layout {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100px auto;
  grid-template-areas:
    'header'
    'page';

  .header {
    grid-area: header;
    width: 100%;
  }

  .page {
    grid-area: page;
    width: 100%;
  }
}
