@import '../variables';

.private-layout {
  $header-height: 80px;

  background: $page-bg;
  background: var(--page-bg);
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: $header-height auto;
  grid-template-areas:
    'header'
    'page';

  .header {
    grid-area: header;
    width: 100%;
  }

  .page {
    grid-area: page;
    box-sizing: border-box;
    padding: 64px 32px 16px;
    width: 100vw;
    min-height: calc(100vh - #{$header-height});

    &-container {
      width: 600px;
      max-width: 100%;
      margin: 0 auto;
    }

    &-item {
      padding: 32px;
      background: $page-item-bg;
      background: var(--page-item-bg);
    }
  }
}
