@import '../variables';

$header-height: 80px;

.private-layout,
.private-layout-simple {
  background: $page-bg;
  background: var(--page-bg);
  width: 100%;
  justify-items: center;
  align-items: center;

  .header {
    position: fixed;
    height: $header-height;
    width: 100%;
    z-index: 1;
  }

  .page {
    box-sizing: border-box;
    padding: ($header-height + 32px) 32px 16px;
    width: 100vw;
    min-height: 100vh;

    &-container {
      width: 600px;
      max-width: 100%;
      margin: 0 auto;
    }

    &-item {
      margin-bottom: 32px;
      padding: 32px;
      background: $page-item-bg;
      background: var(--page-item-bg);
      border-radius: $border-radius;
      border-radius: var(--border-radius);
      box-shadow: $box-shadow-1;
      box-shadow: var(--box-shadow-1);
    }
  }
}

.private-layout-simple {
  $header-height: 160px;

  .logo-type {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page {
    padding-top: 0;
    min-height: calc(100vh - #{$header-height});
  }
}
