.public-layout {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 160px auto;

  grid-template-areas:
    'header'
    'page';

  &-logo {
    display: block;
    grid-area: header;
    color: black;
    text-decoration: none;
    height: 0;
  }

  .page {
    padding: 0 16px;
    grid-area: page;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button[type='submit'] {
    align-self: center;
  }

  .form {
    &-field {
      width: 100%;
    }

    &-content {
      text-align: center;
      margin-top: 32px;
      font-size: 14px;

      a {
        font-weight: bold;
        color: black;
      }
    }
  }
}

.signup,
.login,
.forgot-password {
  width: 340px;
  p {
    margin: 0 0 16px;
    text-align: center;
    a {
      color: black;
      font-weight: bold;
    }
  }
}
