@import '../../styles/variables';

.payment {
  text-align: center;

  &-title {
    margin-bottom: 4px;
  }

  &-content {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .StripeElement {
    font-size: 16px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid $border-color;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: white;
    color: $darker-gray;
    color: var(--darker-gray);
  }

  .StripeElement--focus {
    //
  }

  .StripeElement--invalid {
    border-color: $warning-red;
    border-color: var(--warning-red);
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
