@import '../../styles/variables';

$breakpoint: 1000px + 64px;

.select-plan {
  .page-container {
    width: 1000px;
  }

  &-disclaimer {
    color: $darker-gray;
    color: var(--darker-gray);
    margin: 16px 16px 0;
    font-size: 18px;
  }

  &-enterprise {
    line-height: 1.5;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    a {
      color: black;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.emeal-plans {
  .emeal-plan {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $breakpoint) {
    display: flex;

    .emeal-plan {
      flex: 1;
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
