@import '../styles/variables';

.design {
  form {
    max-width: 400px;
    margin: 0 auto;
  }

  &-file {
    padding-bottom: 24px;
    text-align: center;

    &-upload {
      svg {
        width: 100px;
        height: auto;
      }

      p {
        margin: 16px 0;
      }
    }
  }

  &-preview {
    position: relative;
    text-align: center;
    margin-bottom: 32px;

    .image {
      min-height: 200px;
      max-width: 600px - 32px;
    }

    img {
      border: 1px solid $border-color;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      width: auto;
      max-height: 200px;
      height: auto;
      max-width: 100%;
    }

    button {
      pointer-events: none;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: opacity 100ms ease-in;
    }

    &.loaded {
      button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
