@import '../styles/variables';

.payment {
  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

  .StripeElement {
    font-size: 16px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid $border-color;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: white;
    // box-shadow: 0 1px 3px 0 #e6ebf1;
    // -webkit-transition: box-shadow 150ms ease;
    // transition: box-shadow 150ms ease;
    color: $darker-gray;
    color: var(--darker-gray);
  }

  .StripeElement--focus {
    // box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: $warning-red;
    border-color: var(--warning-red);
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
