@import '../styles/variables';

.profile {
  .page-container {
    position: relative;
  }

  &-sign-out {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
  }

  &-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 32px auto;

    img {
      border-radius: $border-radius;
      border-radius: var(--border-radius);
      border: 4px solid $border-color;
      border: 4px solid var(--border-color);

      &:hover {
        border: 4px dashed $border-color;
        border: 4px dashed var(--border-color);
      }
    }

    @media (min-width: 640px) {
      margin-top: 0;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }
}
