@import '../styles/variables';

.profile {
  .page-container {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }

  &-img {
    display: block;
    border-radius: $border-radius;
    border-radius: var(--border-radius);
    width: 200px;
    height: 200px;
    margin: 0 auto 32px;
    border: 4px solid $border-color;
    border: 4px solid var(--border-color);
    box-shadow: none;
    transition: box-shadow 300ms ease-in-out;

    &:hover {
      box-shadow: 1px 1px 4px black;
    }
  }
}
