@import '../../styles/variables';

.header {
  $breakpoint: 800px;

  background: $header-bg;
  background: var(--header-bg);
  box-sizing: border-box;
  position: relative;
  border-bottom: 6px solid $border-color;
  border-bottom: 6px solid var(--border-color);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  &-row {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100vw - 420px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 210px;
  }

  &-menu {
    display: flex;
    height: 100%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      height: 100%;
      min-width: 60px;
      font-weight: bold;
      font-size: 16px;
      color: $darker-gray;
      text-decoration: none;
      border-bottom: 6px solid $border-color;
      border-bottom: 6px solid var(--border-color);
      transition: border-color 300ms ease-in;

      .icon {
        display: inline;
        transition: color 300ms ease-in;
      }

      &-text {
        padding-left: 8px;
        display: none;

        @media (min-width: $breakpoint) {
          display: inline;
        }
      }

      &.active {
        border-bottom: 6px solid $primary-red;
        border-bottom: 6px solid var(--primary-red);

        .icon {
          color: $primary-red;
          color: var(--primary-red);
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.4;
      }
    }

    &-profile {
      img {
        height: 50px;
        width: 50px;
        border-radius: 80px;
        border: 2px solid $border-color;
        border: 2px solid var(--border-color);
        transition: border-color 300ms ease-in;
      }

      &.active {
        img {
          border-color: $primary-red;
          border-color: var(--primary-red);
        }
      }
    }
  }

  .logo-type {
    &-name {
      display: none;

      @media (min-width: $breakpoint) {
        display: inline;
      }
    }
  }
}
