@import '../global';

/* Adding !important to everything is annoying, but cleanslate allows us to make sure we can deliver styles consistently */

// Animation
.cleanslate {
  .loaded .emeal-static-content-loading {
    display: none !important;
  }

  .emeal-static-content .loaded img {
    opacity: 1 !important;
  }
}

.cleanslate {
  &.large {
    .emeal-static {
      &-title {
        font-size: 2em !important;
      }

      &-content {
        &-row {
          display: flex !important;
        }

        &-img {
          min-height: 200px !important;
        }

        p {
          font-size: 1.5em !important;
        }

        &-input {
          margin-right: 8px !important;
          flex: 1 !important;

          &.error {
            margin-bottom: 0px !important;
          }
        }

        button {
          margin-top: 0 !important;
          width: 138px !important;
        }
      }
    }
  }

  .emeal-static {
    &-title {
      font-size: 1.5em !important;
    }

    &-content {
      box-sizing: border-box !important;
      text-align: center !important;
      height: auto !important;
      border: 1px solid #ccc !important;
      background: #fff !important;
      overflow: auto !important;
      border-radius: 20px !important;
      outline: none !important;
      padding: 36px !important;
      margin: 16px auto !important;
      max-width: 500px !important;

      &-row {
        margin: 32px 0 !important;
        justify-content: center !important;
        align-items: center !important;
      }

      &-loading {
        height: 100% !important;
        width: 100% !important;
      }

      &-img {
        position: relative !important;
        min-height: 150px !important;
      }

      img {
        max-width: 100% !important;
        max-height: 200px !important;
        opacity: 0 !important;
        transition: opacity 100ms ease-in !important;
      }

      p {
        margin: 0 !important;
        line-height: 1.3em !important;
        font-size: 1.2em !important;
        hyphens: auto !important;
        word-break: break-word !important;
      }

      &-input {
        position: relative !important;

        &.hasError {
          margin-bottom: 24px !important;
        }
      }

      input {
        box-sizing: border-box !important;
        line-height: 24px !important;
        font-size: 18px !important;
        padding: 8px 16px !important;
        background: white !important;
        border-radius: 10px !important;
        border: 1px solid #ccc !important;
        min-height: 52px !important;
        text-align: left !important;
        width: 100% !important;
      }

      &-error {
        bottom: -26px !important;
        position: absolute !important;
        padding-left: 4px !important;
        font-size: 16px !important;
        color: darkred !important;
        text-align: left !important;
      }

      button {
        -webkit-appearance: none !important;
        background: #0068ff !important;
        border: none !important;
        color: white !important;
        padding: 16px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
        font-size: 18px !important;
        line-height: 20px !important;
        font-weight: 700 !important;
        letter-spacing: 0.01em !important;
        border-radius: 10px !important;
        cursor: pointer !important;
        margin-top: 24px !important;
        width: 100% !important;
        box-sizing: border-box !important;

        &[disabled] {
          opacity: 0.4 !important;
          pointer-events: none !important;
          cursor: default !important;
        }
      }
    }

    &-link {
      padding-top: 16px !important;
      font-size: 18px !important;
      font-weight: 500 !important;
      color: darkgray !important;

      a {
        text-decoration: none !important;
        color: #0068ff !important;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}
